In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# Carregando dados do filmes
filmes = pd.read_csv('movies.csv')
filmes.columns=['filmeId','titulo','geneross']
filmes.set_index('filmeId', inplace=True)
display(filmes.head())
display(filmes.tail())

,titulo,geneross
filmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

,titulo,geneross
filmeId,,
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
# Carregando dados das classificações
notas = pd.read_csv('ratings.csv')
notas.columns=['usuarioId', 'filmeId', 'nota', 'momento']
display(notas.head())
display(notas.tail())

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

        usuarioId  filmeId  nota     momento
100831        610   166534   4.0  1493848402
100832        610   168248   5.0  1493850091
100833        610   168250   5.0  1494273047
100834        610   168252   5.0  1493846352
100835        610   170875   3.0  1493846415

In [4]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

---
## **Primeira tentativa de recomendação**

Vamos tentar recomendar os filmes de acordo com a quantidade de votos que os filmes receberam

In [5]:
total_de_votos = notas['filmeId'].value_counts()
total_de_votos.head()

356     329
318     317
296     307
593     279
2571    278
Name: filmeId, dtype: int64

In [6]:
filmes.loc[318]

titulo      Shawshank Redemption, The (1994)
geneross                         Crime|Drama
Name: 318, dtype: object

In [7]:
filmes['total_de_votos'] = total_de_votos

In [8]:
filmes.sort_values(by='total_de_votos', ascending=False)

,titulo,geneross,total_de_votos
filmeId,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278.0
...,...,...,...
30892,In the Realms of the Unreal (2004),Animation|Documentary,NaN
32160,Twentieth Century (1934),Comedy,NaN
32371,Call Northside 777 (1948),Crime|Drama|Film-Noir,NaN
34482,"Browning Version, The (1951)",Drama,NaN
85565,Chalet Girl (2011),Comedy|Romance,NaN

In [9]:
notas_medias = notas.groupby(['filmeId']).mean()['nota']
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [10]:
# Criando coluna com nota média do filme
filmes['nota_media'] = notas_medias

In [11]:
filmes.head(10)

,titulo,geneross,total_de_votos,nota_media
filmeId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215.0,3.920930
2,Jumanji (1995),Adventure|Children|Fantasy,110.0,3.431818
3,Grumpier Old Men (1995),Comedy|Romance,52.0,3.259615
4,Waiting to Exhale (1995),Comedy|Drama|Romance,7.0,2.357143
5,Father of the Bride Part II (1995),Comedy,49.0,3.071429
6,Heat (1995),Action|Crime|Thriller,102.0,3.946078
7,Sabrina (1995),Comedy|Romance,54.0,3.185185
8,Tom and Huck (1995),Adventure|Children,8.0,2.875000
9,Sudden Death (1995),Action,16.0,3.125000
10,GoldenEye (1995),Action|Adventure|Thriller,132.0,3.496212

In [12]:
# Selecionando as recomendações para ver a média das notas
filmes.sort_values(by='total_de_votos', ascending=False).head(10)

,titulo,geneross,total_de_votos,nota_media
filmeId,,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,329.0,4.164134
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307.0,4.197068
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279.0,4.161290
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278.0,4.192446
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251.0,4.231076
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,238.0,3.750000
110,Braveheart (1995),Action|Drama|War,237.0,4.031646
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,224.0,3.970982
527,Schindler's List (1993),Drama|War,220.0,4.225000

In [13]:
# Recomendando com base no valor médio da avaliação
# Veja que aqui temos outro problema. Um filme que tem apenas uma nota, pode representar algum consenço.
# É preciso que alem de uma boa nota, o filme contenha tambem, muitas recomendações
filmes.sort_values(by='nota_media', ascending=False).head(10)

,titulo,geneross,total_de_votos,nota_media
filmeId,,,,
88448,Paper Birds (Pájaros de papel) (2010),Comedy|Drama,1.0,5.0
100556,"Act of Killing, The (2012)",Documentary,1.0,5.0
143031,Jump In! (2007),Comedy|Drama|Romance,1.0,5.0
143511,Human (2015),Documentary,1.0,5.0
143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,1.0,5.0
6201,Lady Jane (1986),Drama|Romance,1.0,5.0
102217,Bill Hicks: Revelations (1993),Comedy,1.0,5.0
102084,Justice League: Doom (2012),Action|Animation|Fantasy,1.0,5.0
6192,Open Hearts (Elsker dig for evigt) (2002),Romance,1.0,5.0
145994,Formula of Love (1984),Comedy,1.0,5.0

In [14]:
# Selecionando filmes com boa média e quantidade de votos maior do que 50
filmes.query('total_de_votos > 50').sort_values(by='nota_media', ascending=False).head(5)

,titulo,geneross,total_de_votos,nota_media
filmeId,,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,317.0,4.429022
858,"Godfather, The (1972)",Crime|Drama,192.0,4.289062
2959,Fight Club (1999),Action|Crime|Drama|Thriller,218.0,4.272936
1276,Cool Hand Luke (1967),Drama,57.0,4.271930
750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,97.0,4.268041

In [15]:
filmes.query('geneross =="Comedy|War" and total_de_votos > 50').sort_values(by='nota_media', ascending=False)

,titulo,geneross,total_de_votos,nota_media
filmeId,,,,
750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,97.0,4.268041

## **Calculando a Distancia entre Dois Vetores**

In [16]:
# Função para calcular a distancia entre dois vetores utilizando o Numpy
def distancia_de_vetores(a,b):
    return np.linalg.norm(a-b)

In [17]:
# Filtro por usuário e pegando apenas duas colunas da tabela
def notas_do_usuario(usuario):
    notas_do_usuario = notas.query('usuarioId == @usuario')[['filmeId', 'nota']]
    notas_do_usuario.set_index('filmeId', inplace= True)
    return notas_do_usuario

In [18]:
usuario1 = notas_do_usuario(1)
usuario4 =  notas_do_usuario(4)

display(usuario1.head())
display(usuario4.head())

         nota
filmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0

         nota
filmeId
21        3.0
32        2.0
45        3.0
47        2.0
52        3.0

In [19]:
# Passando parametros para resolver problema de overlaping quando tenho duas colunas com mesmo nome em DataFrames diferentes
junto  = usuario1.join(usuario4, lsuffix='_esquerda', rsuffix= '_direita')
# Dropando dados inválidos. Tenho que pegar apenas dados contidos nas duas colunas
junto.dropna(inplace=True)
junto

         nota_esquerda  nota_direita
filmeId
47                 5.0           2.0
235                4.0           2.0
260                5.0           5.0
296                3.0           1.0
441                4.0           1.0
457                5.0           5.0
553                5.0           2.0
593                4.0           5.0
608                5.0           5.0
648                3.0           3.0
919                5.0           5.0
1025               5.0           4.0
1060               4.0           2.0
1073               5.0           4.0
1080               5.0           5.0
1136               5.0           5.0
1196               5.0           5.0
1197               5.0           5.0
1198               5.0           3.0
1213               5.0           4.0
1219               2.0           4.0
1265               4.0           4.0
1282               5.0           5.0
1291               5.0           4.0
1500               4.0           4.0
1517               5.0           4.0
1580               3.0           3.0
1617               5.0           2.0
1732               5.0           4.0
1967               4.0           5.0
2078               5.0           5.0
2174               4.0           5.0
2395               5.0           3.0
2406               4.0           4.0
2571               5.0           1.0
2628               4.0           1.0
2692               5.0           5.0
2858               5.0           5.0
2959               5.0           2.0
2997               4.0           4.0
3033               5.0           4.0
3176               1.0           4.0
3386               5.0           4.0
3489               4.0           1.0
3809               4.0           3.0

In [20]:
distancia_de_vetores(junto['nota_esquerda'], junto['nota_direita'])

11.135528725660043

In [21]:
# Criando uma função que já calcula a deferença entre dois usuários
def distancia_de_usuarios(usuario_id1, usuario_id2):
    nota1 = notas_do_usuario(usuario_id1)
    nota2 = notas_do_usuario(usuario_id2)
    
    diferencas =  nota1.join(nota2, lsuffix='_esquerda', rsuffix= '_direita')
    diferencas.dropna(inplace=True)
    
    return distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])

In [22]:
distancia_de_usuarios(1,4)

11.135528725660043

In [23]:
# Verificando a quantidade de usuários unicos no DataFrame
# Não é a quantidade de votos. Posso ter usuários que votaram mais de uma vez.
notas['usuarioId'].nunique()

610

In [41]:
distancias = []

def distancia_de_todos(voce_id):
    for i in notas['usuarioId'].unique():
        informacoes = distancia_de_usuarios(voce_id, i)
        distancias.append([voce_id, i, informacoes])
    return distancias

In [42]:
distancia_de_todos(1)

[0.0, 1.4142135623730951, 8.200609733428363, 11.135528725660043, 3.7416573867739413, 8.602325267042627, 7.106335201775948, 3.7416573867739413, 1.0, 7.858116822750856, 4.242640687119285, 0.7071067811865476, 1.4142135623730951, 5.0, 5.852349955359813, 7.22841614740048, 4.6097722286464435, 8.426149773176359, 17.60681686165901, 6.48074069840786, 9.096702699330127, 5.244044240850758, 5.408326913195984, 4.415880433163924, 1.4142135623730951, 2.23606797749979, 9.219544457292887, 14.882876066137216, 4.55521678957215, 1.8027756377319946, 4.58257569495584, 5.196152422706632, 5.916079783099616, 6.363961030678928, 2.23606797749979, 6.519202405202649, 4.0, 5.5677643628300215, 11.090536506409418, 6.855654600401044, 10.198039027185569, 12.0, 4.795831523312719, 3.7416573867739413, 10.653637876331258, 3.3166247903554, 6.244997998398398, 4.123105625617661, 1.0, 7.33143914930759, 10.476163419878482, 2.5495097567963922, 1.0, 4.123105625617661, 6.5383484153110105, 3.3166247903554, 13.19090595827292, 4.898979485566356, 9.0, 2.449489742783178, 3.082207001484488, 3.6742346141747673, 9.669539802906858, 11.335784048754634, 1.3228756555322954, 8.411301920630361, 3.4641016151377544, 21.558061137310098, 3.3166247903554, 3.0, 5.744562646538029, 2.7386127875258306, 3.8078865529319543, 4.358898943540674, 9.192388155425117, 9.40744386111339, 0.0, 4.949747468305833, 5.744562646538029, 3.0413812651491097, 6.082762530298219, 7.365459931328117, 7.0178344238090995, 7.810249675906654, 0.0, 3.7080992435478315, 2.0, 2.5, 12.389511693363866, 1.4142135623730951, 13.518505834595775, 1.118033988749895, 5.916079783099616, 4.58257569495584, 4.123105625617661, 8.54400374531753, 2.6457513110645907, 5.979130371550699, 2.449489742783178, 5.545268253204709, 4.795831523312719, 5.0, 7.697402159170326, 9.354143466934854, 5.744562646538029, 2.5, 2.449489742783178, 3.605551275463989, 6.782329983125268, 3.3166247903554, 10.920164833920778, 3.3166247903554, 3.0, 3.122498999199199, 8.426149773176359, 7.483314773547883, 6.928203230275509, 3.0, 3.5, 3.1622776601683795, 4.242640687119285, 5.315072906367325, 2.5, 4.06201920231798, 4.330127018922194, 5.385164807134504, 1.0, 3.3166247903554, 5.634713834792322, 3.1622776601683795, 6.324555320336759, 12.24744871391589, 4.47213595499958, 4.242640687119285, 10.099504938362077, 6.244997998398398, 6.461423991660043, 5.545268253204709, 4.301162633521313, 10.428326807307105, 7.713624310270756, 3.7416573867739413, 4.153311931459037, 6.34428877022476, 2.8284271247461903, 1.5, 5.123475382979799, 2.0, 6.557438524302, 2.8284271247461903, 3.3166247903554, 3.9370039370059056, 13.592277219068187, 1.118033988749895, 4.242640687119285, 12.409673645990857, 1.7320508075688772, 3.24037034920393, 5.916079783099616, 18.7949461292125, 2.9154759474226504, 1.4142135623730951, 3.1622776601683795, 5.385164807134504, 4.242640687119285, 6.800735254367722, 6.59545297913646, 3.840572873934304, 5.522680508593631, 3.1622776601683795, 4.358898943540674, 2.958039891549808, 2.8284271247461903, 5.291502622129181, 0.0, 2.6457513110645907, 16.25576820700886, 3.0413812651491097, 4.58257569495584, 3.2015621187164243, 7.483314773547883, 15.88238017426859, 5.916079783099616, 1.5, 3.3166247903554, 7.54983443527075, 10.677078252031311, 2.23606797749979, 1.8027756377319946, 2.23606797749979, 4.47213595499958, 3.1622776601683795, 6.224949798994366, 2.5, 9.273618495495704, 2.179449471770337, 4.358898943540674, 9.643650760992955, 9.72111104761179, 7.729812416870153, 5.916079783099616, 11.045361017187261, 6.461423991660043, 2.5495097567963922, 1.8708286933869707, 2.449489742783178, 2.179449471770337, 3.7416573867739413, 2.449489742783178, 3.872983346207417, 4.092676385936225, 7.582875444051551, 2.449489742783178, 3.1622776601683795, 5.0990195135927845, 8.06225774829855, 19.6468827043885, 4.153311931459037, 11.926860441876563, 10.012492197250394, 7.681145747868608, 7.615773105863909, 6.34428877022476, 4.898979485566356, 6.6332495807108, 10.920164833920778, 3.2015621187164243, 3.3166247903554, 3.7416573867739413, 12.893796958227627, 4.272001872658765, 10.074720839804943, 6.144102863722254, 9.38083151964686, 3.605551275463989, 2.0, 4.769696007084728, 3.4641016151377544, 7.745966692414834, 6.164414002968976, 4.153311931459037, 3.4641016151377544, 3.605551275463989, 7.483314773547883, 4.0, 4.55521678957215, 6.800735254367722, 3.640054944640259, 8.587782018658833, 2.1213203435596424, 2.8284271247461903, 1.5811388300841898, 0.0, 4.769696007084728, 6.782329983125268, 3.0, 4.06201920231798, 1.0, 2.5, 6.244997998398398, 4.8218253804964775, 4.358898943540674, 6.020797289396148, 7.211102550927978, 7.745966692414834, 8.831760866327848, 6.082762530298219, 9.16515138991168, 2.0, 2.6457513110645907, 5.385164807134504, 1.8027756377319946, 4.58257569495584, 15.386682553429118, 8.660254037844387, 3.7416573867739413, 2.6457513110645907, 0.5, 7.211102550927978, 6.5, 3.5, 8.411301920630361, 3.4641016151377544, 5.196152422706632, 2.8722813232690143, 4.949747468305833, 11.683321445547923, 18.23458252881047, 3.0413812651491097, 6.244997998398398, 0.0, 11.629703349613008, 5.916079783099616, 15.620499351813308, 5.477225575051661, 3.7416573867739413, 4.898979485566356, 13.095800853708795, 3.0, 1.5, 8.616843969807043, 2.8284271247461903, 5.830951894845301, 8.426149773176359, 11.213830746002902, 0.0, 16.537835408541227, 14.080127840328723, 4.6097722286464435, 3.9370039370059056, 5.722761571129799, 8.06225774829855, 17.549928774784245, 7.3484692283495345, 2.0, 5.267826876426369, 7.3484692283495345, 9.055385138137417, 1.118033988749895, 2.692582403567252, 3.872983346207417, 7.211102550927978, 5.431390245600108, 2.0, 9.486832980505138, 4.663689526544408, 2.7838821814150108, 12.942179105544785, 9.899494936611665, 12.389511693363866, 3.7080992435478315, 8.396427811873332, 3.1622776601683795, 6.98212002188447, 3.0, 3.7080992435478315, 4.795831523312719, 1.6583123951777, 6.7638746292343415, 3.4641016151377544, 2.7838821814150108, 4.123105625617661, 3.774917217635375, 4.092676385936225, 2.3979157616563596, 7.0, 3.872983346207417, 2.6457513110645907, 3.872983346207417, 3.872983346207417, 2.449489742783178, 6.576473218982953, 5.196152422706632, 8.717797887081348, 2.6457513110645907, 7.035623639735144, 8.717797887081348, 1.0, 5.958187643906492, 1.0, 9.233092656309694, 4.769696007084728, 6.041522986797286, 3.3166247903554, 9.096702699330127, 0.7071067811865476, 9.1104335791443, 15.491933384829668, 6.442049363362563, 10.535653752852738, 3.122498999199199, 11.313708498984761, 8.717797887081348, 4.0, 2.7386127875258306, 6.264982043070834, 3.1622776601683795, 2.0615528128088303, 4.123105625617661, 12.569805089976535, 10.770329614269007, 5.612486080160912, 2.0, 4.795831523312719, 8.774964387392123, 7.483314773547883, 15.419143945109274, 1.0, 3.3166247903554, 5.852349955359813, 13.820274961085254, 3.4641016151377544, 6.892024376045111, 3.3166247903554, 6.928203230275509, 4.387482193696061, 0.0, 1.224744871391589, 6.264982043070834, 3.3541019662496847, 2.179449471770337, 4.47213595499958, 4.847679857416329, 4.0, 4.415880433163924, 5.123475382979799, 2.6457513110645907, 3.427827300200522, 6.48074069840786, 6.928203230275509, 7.211102550927978, 6.782329983125268, 6.5, 14.730919862656235, 5.049752469181039, 7.3484692283495345, 4.5, 8.817596044274199, 9.16515138991168, 5.07444578254611, 2.5, 3.0, 3.6742346141747673, 7.245688373094719, 11.169153951844338, 5.361902647381804, 3.0413812651491097, 16.015617378046965, 2.8284271247461903, 2.0, 3.082207001484488, 7.399324293474371, 4.387482193696061, 8.306623862918075, 2.449489742783178, 5.744562646538029, 6.244997998398398, 8.12403840463596, 2.598076211353316, 2.0615528128088303, 5.1478150704935, 5.722761571129799, 2.958039891549808, 5.0990195135927845, 3.4641016151377544, 5.830951894845301, 3.1622776601683795, 13.892443989449804, 4.8218253804964775, 2.8284271247461903, 2.6457513110645907, 8.48528137423857, 10.770329614269007, 4.242640687119285, 3.7416573867739413, 3.4641016151377544, 5.656854249492381, 4.69041575982343, 2.0615528128088303, 1.8027756377319946, 9.924716620639604, 15.47578754054216, 3.3541019662496847, 5.809475019311125, 6.244997998398398, 4.847679857416329, 3.1622776601683795, 3.872983346207417, 12.409673645990857, 5.0990195135927845, 2.5495097567963922, 0.5, 1.5811388300841898, 18.59435398178705, 4.358898943540674, 1.7320508075688772, 10.464224768228174, 3.082207001484488, 5.744562646538029, 14.67140075112121, 1.0, 5.958187643906492, 13.219304066402286, 5.477225575051661, 4.795831523312719, 5.5677643628300215, 3.391164991562634, 6.422616289332565, 14.0089257261219, 5.315072906367325, 1.9364916731037085, 4.795831523312719, 7.14142842854285, 3.0, 4.123105625617661, 0.0, 5.049752469181039, 3.872983346207417, 1.5, 7.810249675906654, 5.477225575051661, 5.937171043518958, 4.183300132670378, 1.8708286933869707, 1.8027756377319946, 0.0, 3.0, 4.358898943540674, 9.617692030835672, 6.837397165588672, 0.5, 3.7416573867739413, 3.5355339059327378, 8.631338250816034, 1.5, 3.0, 17.370952766040208, 2.0615528128088303, 1.0, 7.262919523166975, 2.23606797749979, 7.952986860293433, 1.0, 6.164414002968976, 10.41633332799983, 2.23606797749979, 8.306623862918075, 6.244997998398398, 3.4641016151377544, 1.4142135623730951, 2.6457513110645907, 4.123105625617661, 2.5, 6.7638746292343415, 2.449489742783178, 3.605551275463989, 4.272001872658765, 1.118033988749895, 3.8078865529319543, 2.8722813232690143, 7.0710678118654755, 5.522680508593631, 2.449489742783178, 3.4641016151377544, 2.692582403567252, 5.5677643628300215, 2.0, 3.391164991562634, 7.0178344238090995, 0.5, 3.905124837953327, 9.7082439194738, 4.8218253804964775, 8.831760866327848, 10.295630140987, 0.0, 7.314369419163897, 4.58257569495584, 6.782329983125268, 7.158910531638177, 10.464224768228174, 6.363961030678928, 3.24037034920393, 2.23606797749979, 4.0, 6.324555320336759, 9.86154146165801, 2.5, 3.872983346207417, 9.246621004453464, 5.477225575051661, 6.6332495807108, 9.1104335791443, 2.0, 2.6457513110645907, 2.598076211353316, 9.643650760992955, 0.0, 8.366600265340756, 10.161200716450788, 1.6583123951777, 1.7320508075688772, 2.598076211353316, 5.0990195135927845, 3.1622776601683795, 4.69041575982343, 7.3484692283495345, 6.928203230275509, 5.0, 14.062361110425233, 5.0990195135927845, 5.0990195135927845, 7.314369419163897, 5.291502622129181, 1.7320508075688772, 6.96419413859206, 9.0, 4.301162633521313, 19.665960439297137, 17.902513789968157, 2.0615528128088303, 6.324555320336759, 18.33030277982336, 4.123105625617661, 9.899494936611665, 11.510864433221338, 9.899494936611665, 18.2414363469547, 3.1622776601683795, 8.031189202104505]